version: '3.8'

services:
  app-dev:
    build:
      context: .
      target: development
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "${PORT:-5003}:${PORT:-5003}"
    env_file:
      - .env.development
    environment:
      - NODE_ENV=development
      - DATABASE_URL=${DATABASE_URL:-postgresql://postgres:postgres@db:5432/nestjs}
      - PORT=${PORT:-5003}
    depends_on:
      - db
    command: npm run start:dev
    
  app-prod:
    build:
      context: .
      target: production
    ports:
      - "${PORT:-5003}:${PORT:-5003}"
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
      - DATABASE_URL=${DATABASE_URL:-postgresql://postgres:postgres@db:5432/nestjs}
      - PORT=${PORT:-5003}
    depends_on:
      - db
    restart: always
    
  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=nestjs
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
